*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    height: 10vh;
    background-color: brown;
}

.backimg{
    height: 80vh;
    width: 100%;
    background-image: url('../img/inet1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}