*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    height: 10vh;
    background-color: brown;
}

.backimg{
    height: 90vh;
    background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
  background-size: cover;
}