*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    height: 10vh;
    background-color: brown;
}

.backimg{
    height: 90vh;
    
}

.backimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

